.applicationForm__header h1 {
    text-align: center;
    font-size: calc(40px + 1.1vw);
    padding: 20px 0;
}

.body__wrapper {
    background: #f6f6f6;
}

.applicationForm__body {
    width: var(--wrapper-width);
    margin: 0 auto;
    padding: 30px 0;
    font-size: calc(16px + .26vw);
}


.input__entity {
    display: flex;
}

.input__text {
    white-space: nowrap;
    margin-top: 10px;
}

.input__container {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.form__input {
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    margin-right: 125px;
    width: 250px;
    height: 50px;
    margin-bottom: 29px;
    box-shadow: 0px 3px 6px #00000029;
}

.form__input:focus {
    outline: none;
}

.form__input::placeholder {
    color: #676767;
    opacity: 60%;
}

.form__input__long {
    min-width: 400px;
}

.form__date {
    color: #676767;
}

.form__edu__table {
    margin-left: 5vw;
    font-size: calc(16px + 0.26vw);
    background: white;
    border-radius: 20px;
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid #00000029;
    border-bottom: none;
    border-right: none;
    overflow: hidden;
    margin-top: 10px;
}

.table__heading {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 250px;
    height: 50px;
    border-right: 1px solid #00000029;
    border-bottom: 1px solid #00000029;
}

.form__input__table {
    border: none;
    padding: 10px 15px;
    width: 250px;
    height: 50px;
    border-right: 1px solid #00000029;
    border-bottom: 1px solid #00000029;
}

.form__input__table:focus {
    outline: none;
}

.form__edu__table td,
.form__edu__table th,
.form__edu__table tr {
    margin: 0;
    padding: 0;
}

.form__edu__table .remove__border__right {
    border-right: none;
}

.form__edu__table .remove__border__bottom {
    border-bottom: none;
}

/*Extra input in the bottom*/
.extra__input {
    margin-top: 29px;
    margin-bottom: 29px;
    display: flex;
    align-items: center;
}

.extra__input input {
    width: 17px;
    height: 17px;
    margin-top: 13px;
    margin-right: 10px;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
}

.extra__input a {
    color: #C73349;
    text-decoration: underline;
}

.extra__button {
    border-radius: 20px;
    font-size: calc(16px + .26vw);
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.responsive__table {
    display: none;
}

.add__responsive__table {
    display: none;
}

@media screen and (max-width: 1100px) {
    .input__entity {
        flex-direction: column;
    }

    .educational__history-table {
        display: none;
    }

    .responsive__table {
        display: flex;
    }

    .add__responsive__table {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .add{
        color:var(--primary-red);
        border: 1px solid var(--primary-red);
        background: white;
        border-radius: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
    }

    .add:hover{
        color: var(--primary-blue);
        border: 1px solid var(--primary-blue);
    }

    .table__entries{
        background: #ddd;
        padding: 20px 0 0 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        width: auto;
    }
}